<% # Meta information for the <head> section %>
<% title "Create New Article" %>
<% # meta_tag :description, @article.description %>


<% # Actual view content  %>
<h1 align="center">Create an article</h1>

<%= render 'form' %>