<div class="center jumbotron">
  <div class="container">
    <h1>Hi. I'm Dan</h1>
    <p>Welcome to my Blog!</p>
    <%= link_to "Sign up now", signup_path, class: "btn btn-success btn-lg btn-xlarge" %>
  </div>
</div>